@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF7F2;
  --foreground: #2C1810;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
